# dependencies
node_modules/

# next.js
.next/

# Git
/.git
.gitignore
README.md

# Docker
Docker-compose.yml
Dockerfile-next
.dockerignore

# Site
del/*
public/img/*
uploads/*
SQL/

# Node
.env
package-lock.json