.flex_menu {
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.flex_menu ul, .flex_menu ol, .flex_menu menu {
	display: contents
}

.flex_menu .li_left {
	order: 1;
}

.flex_menu .li_center {
	order: 2;
}

.flex_menu .li_right {
	order: 3;
}