.form {
	display: grid;
	grid-template-columns: 0fr 1fr;
	grid-template-rows: auto;
}

.form section {
	display: contents;
}

.form img {
	display: block;
	margin: auto;
	max-height: 300px;
	max-width: 100%;
}

.form div {
	margin: auto;
}