.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	overflow: auto;
	scrollbar-width: none;
	padding: 10px;
	padding-bottom: 0px;
	
}

.get_more_button {
	font-size: 2em;
}

.card {
	/*display: inline-block;*/
	flex: 0 0 auto;
	overflow: hidden;
	width: 30%;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	overflow: hidden;
	box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2);
	transition:	width 0.1s ease-out,
				box-shadow 0.1s ease-in;
}

.card:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card * {
	margin: 0px;
}

.card img {
	display: block;
	margin: auto;
	max-height: 300px;
	max-width: 100%;
}

.game {
	font-weight: bold;
}